<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

<!-- 	
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>ru.vrn.com.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/testgwtproject/greet</url-pattern>
	</servlet-mapping>
	/hellogwt/springGwtServices/*
 -->
 
  <!-- Spring classical web application context declaration -->
<!-- 	<context-param> 
		<param-name>contextConfigLocation</param-name> 
		<param-value>/WEB-INF/applicationContext.xml</param-value> 
	</context-param> -->
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

	<servlet>
		<servlet-name>spring4gwt</servlet-name>
		<servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>		
	</servlet>


	<servlet-mapping>
		<servlet-name>spring4gwt</servlet-name>
		<url-pattern>/testgwtproject/ecm/*</url-pattern>
	</servlet-mapping>
	
	<!--testgwtproject insted of ecmsoftware  -->


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>TestGWTPRoject.html</welcome-file>
	</welcome-file-list>

</web-app>
